.odc-add-card {
  margin-bottom: var(--pf-v5-global--spacer--lg);
  padding: 0px var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg) 0px;
  max-width: 100%;

  &__title {
    margin: var(--pf-v5-global--spacer--lg) 0px 0px var(--pf-v5-global--spacer--lg);
  }
}

.pf-v5-c-simple-list ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
