.co-row-filter {
  background-color: var(--pf-global--BackgroundColor--100);
  margin-bottom: $pf-global--spacer--xl;

  // use pseudo element for border so that .pf-c-toggle-group__item(s) overlap
  &::before {
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    border-bottom-right-radius: var(--pf-global--BorderRadius--sm);
    border-top-right-radius: var(--pf-global--BorderRadius--sm);
    bottom: calc(var(--pf-global--spacer--xl));
    content: '';
    left: $pf-global-gutter;
    position: absolute;
    right: $pf-global-gutter;
    top: 0;
  }
}

// .pf-c-toggle-group has a default border-radius
// Since .co-row-filter wraps both .pf-c-toggle-group and .co-row-filter__items with a boxed border,
// we move the top-right & bottom-right radius from .pf-c-toggle-group__item:list-child to the right side of the .co-row-filter box.
.co-row-filter .pf-c-toggle-group__item:last-child .pf-c-toggle-group__button,
.co-row-filter .pf-c-toggle-group__item:last-child .pf-c-toggle-group__button::before {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.co-row-filter__items {
  font-weight: var(--pf-global--FontWeight--bold);
  padding: 0 var(--pf-global--spacer--md);
  white-space: nowrap;
}

.co-row-filter__number-bubble {
  border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  border-radius: var(--pf-global--BorderRadius--sm);
  display: inline-block;
  line-height: var(--pf-global--LineHeight--sm);;
  margin-right: var(--pf-global--spacer--xs);
  padding: 2px 5px 0;
  text-align: center;

  &.co-row-filter__number-bubble--active {
    border-color: var(--pf-global--primary-color--100);
  }
}
