@import '../../../../../public/style/vars';

.ocs-synced-editor-field {
  &__editor-toggle {
    border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    padding-left: $pf-global-gutter;
    @media (min-width: $pf-global--breakpoint--xl) {
      padding-left: $pf-global-gutter--md;
    }
    padding-top: var(--pf-global--spacer--sm);

    &.margin {
      margin: var(--pf-global--spacer--md) 0 0; // No bottom margin to allow borders to connect with side panel
    }
  }

  &__yaml-warning {
    margin: $pf-global-gutter--md $pf-global-gutter--md 0;
  }
}
